<div class="body">
  <div class="header d-flex justify-content-between align-items-center">
    <h1>Meus Produtos.</h1>
    <button type="add_product" class="btn btn-purple"  mat-button (click)="newProduct()">
      Adicionar produto
    </button>
  </div>
  <hr class="divider">
  <div class="row">
    <div class="col-3" *ngFor="let product of products;">
      <mat-card class="products shadow bg-white rounded">
        <div class="d-flex w-100 flex-column justify-content-center align-items-center">
          <img mat-card-image [src]="product.photo" alt="photo">
        </div>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="btn btn-menu" aria-label="icon-button-menu">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <mat-menu #menu="matMenu">
          <div mat-menu-item (click)="editProduct(product)">
            <button class="btn btn-purple rounded-circle">
              <i class="fa fa-pencil"></i>
            </button>
            <span class="ml-1" >Editar</span>
          </div>
          <div mat-menu-item (click)="deleteProduct(product)">
            <button class="btn btn-danger rounded-circle">
              <i class="fa fa-trash"></i>
            </button>
            <span class="ml-1">Excluir</span>
          </div>
        </mat-menu>

        <mat-card-content>
          <mat-card-title class="title1">{{product.name}}</mat-card-title>
          <p>
            {{product.description}}
          </p>
          <mat-card-title class="title mt-3">{{product.price}} </mat-card-title>
          <div class="actions-holder mt-1">
            <button mat-button class="btnget mr-3" *ngFor="let tag of product.tags">{{tag}}</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
   
  </div>
</div>

